# Sample submission

This notebook will create simple solution where each line contains three the same most popular places.
The goal is to validate the format of the generated submission.

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

## Load datasets

In [3]:
df_train = pd.read_csv("../data/train.csv")
df_test = pd.read_csv("../data/test.csv")
df_train.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

Get 3 most omost common place_ids

In [33]:
vc = df_train['place_id'].value_counts()
vc.head(3)

8772469670    1849
1623394281    1802
1308450003    1757
Name: place_id, dtype: int64

In [42]:
places = "{} {} {}".format(vc.index[0], vc.index[1], vc.index[2])
places

'8772469670 1623394281 1308450003'

In [51]:
df = df_test['row_id'].to_frame()
df['place_id'] = places
df.head(3)

   row_id                          place_id
0       0  8772469670 1623394281 1308450003
1       1  8772469670 1623394281 1308450003
2       2  8772469670 1623394281 1308450003

In [55]:
df.to_csv('../output/solution.csv.gz', index=False, compression='gzip')